<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Car Sale Contract Generator</title>
  <meta name="description" content="Create and print your car sale contract online in minutes." />
  <meta name="google-site-verification" content="xoUzfE_e3vcogZJ8WAyOei-olYCnjxIsPa5sOrWnS1A" />
  <!-- بقیه متا تگ‌ها یا لینک CSS اینجا اضافه کنید -->
</head>
<body>
  {{ content }}
</body>
</html>
